:root {
  
}


body{
  display:grid;
  grid-template-areas:
  "header logo" 
  "main nav"
  "footer footer";
}
header{grid-area: header;
}
nav{grid-area: nav;
}
main{grid-area: main;
  width: 1200px;
}
footer{grid-area: footer;
}

nav ul {
  list-style: square;
  display: grid;
  align-items: end;
  gap: 100px;
}