:root {
 --kleur-zwart: #000000;
 --kleur-wit: #FFFFFF;
 --kleur-rood: #FF0000;
 --kleur-groen: #69DA13;
 --kleur-geel: #FFEC1E;
}


body{
  display:grid;
  grid-template-areas:
  "header header" 
  "main nav"
  "footer footer";
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 120px 800px 60px;
}
header{grid-area: header;
  background-color: var(--kleur-groen);
}
nav{grid-area: nav;
  background-color: var(--kleur-geel);
}
main{grid-area: main;
 background-color: var(--kleur-wit);
 display: grid; padding :3%;
 grid-template-columns:repeat(3, 1fr); column-gap: 10px;
}
footer{grid-area: footer;
  background-color: var(--kleur-rood);
}





nav ul {
  list-style: square;
  display: grid;
  align-items: end;
  gap: 100px;
}